.about {
  h2 {
    margin-top: 15px;
  }
  p {
    font-size: 18px;
    max-width: 600px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
  }
  .social-links {
    margin-top: -60px;
    a {

      img {
        max-width: 38px;
        transition: all 0.5s ease;
        &.github {
          background: #f1f2f2;
          border-radius: 200px;
        }
      }
      &:hover {
        img {
          -webkit-transform: rotate(360deg) scale(1.1);
          -ms-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
        }
      }
    }
  }
  .bio-wrap {
    max-width: 610px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-image: linear-gradient($darkorange, $page2);

    h3 {
      margin-top: -15px;
    }
  }
  .contact {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 15px 30px;
    @media (max-width: 768px) {
      padding: 15px 15px 120px;
    }
    h3 {
      margin-bottom: -30px;
    }
    .pirate_forms_three_inputs_wrap {
      margin-top: 90px;
    }
    .contact_name_wrap {
      display: block;
      max-width: 100% !important;
      padding: 0 !important;

    }
    .contact_email_wrap {
      display: block;
      max-width: 100% !important;
      padding: 0 !important;
      @media (max-width: 575px) {
        display: block;
      }
    }
    input, textarea {
      background: rgba(255, 255, 255, 0.7);
      transition: all 0.5s ease;
    }
    input:focus, textarea:focus {
      color: #495057;
      background-color: #fff;
      border-color: transparent;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 186, 167, 0.8);
      box-shadow: 0 0 0 0.2rem rgba(107, 186, 167, 0.8);
      background: rgba(255, 255, 255, 1);
    }

    button {
      padding: 10px 20px;
      transition: all 0.4s ease;
      background: rgba(107, 186, 167, 0.75);
      &:hover {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
        background: $page1;
      }
    }

      .rc-anchor-light {
        background: rgba(249, 249, 249, 0.7) !important;
      }


  }
}