.blog {
  .blog-area-wrap {
    min-height: 780px;
    position: relative;
    @media (max-width: 768px) {
      padding-bottom: 85px;
    }
  }
  h2 {
    margin-bottom: 35px;
  }
  .filter-area {
    margin-top: -40px;
    margin-bottom: -60px;
    position: relative;
    z-index: 10;
  }
  .blog-area {
    .blog-item {
      a {
        font-size: 14px;
      }
      .post-thumbnail {
        // height: 220px;
      }
    }
  }
}