@import url(https://fonts.googleapis.com/css?family=Ubuntu);

section.home {
  z-index: 0!important;
  h1 {
  }
  .home-text {
    max-width: 680px;
    margin: 0 auto;
    height: 235px;
    margin: 120px auto 0;
    position: relative;
    display: flex;

    svg {
      position: absolute;
      font: 320px Playfair Display;
      letter-spacing: 10px;
      width: 100%;
      height: 100%;
      margin-top: 5%;
      @media (max-width: 768px) {
        font: 140px Playfair Display;
      }
    }

    svg text {
      fill: white;
      stroke: white;
      fill-opacity: 1;
      stroke-width: 0;
      stroke-dasharray: 100% 0;
      -webkit-animation: stroke-offset 3s ease-out;
      animation: stroke-offset 3s ease-out;
      @-moz-document url-prefix() {
        stroke-dasharray: 1400px;
        -webkit-animation: stroke-offset2 4s ease-out;
        animation: stroke-offset2 4s ease-out;
      }
    }

    @keyframes stroke-offset {
      0% {
        fill-opacity: 0;
        stroke-width: 0;
        stroke-dasharray: 0% 100%;
      }
      25% {
        stroke-width: 3px;
      }
      50% {
        fill-opacity: 0;
      }
      75% {
        stroke-width: 3px;
      }
      100% {
        stroke-width: 0;
      }
    }
    @keyframes stroke-offset2 {
      0% {
        fill-opacity: 0;
        stroke-width: 0;
        stroke-dasharray: 0px;
      }
      25% {
        stroke-width: 3px;
      }
      50% {
        fill-opacity: 0;
      }
      75% {
        stroke-width: 3px;
      }
      100% {
        stroke-width: 0;
      }
    }
  }
  @keyframes loading {
    0% {
      max-width: 0;
    }
  }
  p.hint {
    margin-top: -25px;
    font-size: 18px;
  }
  .home-icon {
    width: 90px;
    height: 100%;
  }
  svg {
    &.sub-text {
      margin-left: -92px;
      margin-top: -100px;
      @media (max-width: 768px) {
        width: 100%;
        margin-left: 6px;
        margin-top: -125px;
      }
      text {
        -webkit-font-smoothing: antialiased;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }

    }
  }

  @keyframes fadeUpIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .svg-wrapper {
  position: relative;
  top: -70px;
	margin: 0 auto;
  max-width: 320px;
  max-height:60px;
  cursor:default;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  /* modify this with the color you want */
  stroke: $page2;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
font-family: 'Alice';
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 4px;
  color: #fff;
  top: -53px;
  position: relative;
  text-align:center;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
}

canvas.vanta-canvas {
  z-index: -1 !important;
}
