.single {
  padding-bottom: 30px;
  h3 {
    margin: 20px;
  }
  .shadow-box {
    position: absolute;
    top: 84px;
    height: 90px;
    width: 100%;
    z-index: -1;
    &:before {
      content: url(/wp-content/themes/jamesontech/resources/assets/images/shadow.png);
      left: -28px;
      top: -24px;
      position: absolute;
    }
    &:after {
      content: url(/wp-content/themes/jamesontech/resources/assets/images/shadow-inverse.png);
      right: -28px;
      top: -24px;
      position: absolute;
    }
  }
  .bc-video {
    @media (max-width: 768px) {
      height: 360px !important;
    }
  }
  .divider {
    position: relative;
    margin: 25px 0;
    height: 1px;
  }

  .div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, black, transparent);
  }

  .div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px black,
    0 0 0 4px white;
  }
  .post-info {
    margin-bottom: 40px;
    a {
      display: inline;
      @media (max-width: 768px) {
        display: block;
        margin-bottom: -5px;
      }
      &.btn-main {
        span {
          @media (max-width: 480px) {
            margin-bottom: 15px;
          }
        }
      }
    }
    p {
      display: inline;
      &.release {
        padding-left: 15px;
      }
    }
    .music-links {
      margin-top: 20px;
      a {
        img {
          max-width: 38px;
          margin: 0 8px;
          transition: all 1s ease;
        }
        &:hover {
          img {
            -webkit-transform: rotate(360deg) scale(1.1);
            -ms-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
          }
        }
      }
    }
  }
  .credits {
    text-align: center;
    padding-top: 20px;
    max-width: 183px;
    margin: 0 auto;
    img {
      display: block;
      margin: 0 auto;
      max-width: 130px;
    }
  }
  .entry-content {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
  }
  #disqus_thread {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .view-more {
    margin-top: 15px;
  }
  .tag-area {
    margin-left: -10px;
  }
  .itch img {
    left: 30px;
    max-width: 23px;
    position: absolute;
    top: 12px;
  }
  .steam img {
    left: 30px;
    max-width: 23px;
    position: absolute;
    top: 11px;
  }
}
