.btn-filter {
  font-size: 20px;
  background: transparent;
  border: 0;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  font-family: 'Alice';
  outline: none !important;
  cursor: pointer;
  letter-spacing: 1px;
  @media (max-width: 768px) {
    font-size: 16px;
    padding: 10px 0;
  }
  &.selected {
    &::before,
    &::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}

.btn-filter::before,
.btn-filter::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.btn-filter::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.btn-filter::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.btn-filter:hover,
.btn-filter:focus {
  color: #fff;
}

.btn-filter:hover::before,
.btn-filter:focus::before,
.btn-filter:hover::after,
.btn-filter:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.btn-main {
  font-family: 'Alice';
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  text-decoration: none;
  color: white;
  padding: 12px 0;
}

.btn-main span {
  font-family: 'Alice';
  color: white;
  position: relative;
  display: inline-block;
  padding: 0 14px;
  min-width: 210px;
  background: $page1;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.btn-main span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #559283;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.btn-main:hover span::before,
.btn-main:focus span::before {
  background: $page1;
}

.btn-main:hover span,
.btn-main:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.btn-tag {
  margin: 10px;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: $page1;
  &:hover {
    text-decoration: none;
  }
}

.btn-tag::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $page1;
  content: '';
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.btn-tag::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: $page1;
  content: '';
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.btn-tag:hover::before {
  top: 100%;
  opacity: 1;
}

.btn-tag:hover::after {
  height: 100%;
}

.post-load-more-button-wrap {
  width: 100%;
  display: block;
  margin: 20px auto;
}
.post-load-more-button {
  position: relative;
  background: $page1;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  border: 0;
  padding: 15px 30px;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .25em;
  transition: all .5s;
  overflow: hidden;
  margin-bottom: 30px;

  &.hidden {
    display: none;
  }

  @media (min-width: 768px) {
    outline: none;
    &:hover, &:focus, &:active {
      outline: none;
    }
  }
}

.post-load-more-button:hover {
  background: $page1;
}

.button--hide {
  opacity: 0;
  cursor: default;
}

.button--loading {
  padding-left: 70px;
}

.post-load-more-button .button__loader {
  float: left;
  position: absolute;
  left: -50px;
  top: 10px;
  transition: all .2s;
}

.button--loading .button__loader {
  left: 15px;
}

.post-btn-loader, .post-btn-loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.post-btn-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  transform: translateZ(0);
  animation: loaderSpin 1.1s infinite linear;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
