/*
#comments {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  input#submit {
    background: $page1;
    border: 0;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03);
    }
  }
  h2 {
    margin-bottom: 30px;
  }
}

ol.commentlist {

  list-style:none;
  margin:0 0 1em;
  padding:0;
  text-indent:0;

  li {}
  li.alt {}
  li.bypostauthor {}
  li.byuser {}
  li.comment-author-admin {}


  li.comment {
    border-bottom: 1px solid #ddd;
    padding:1em;

    .comment-author {} // end .comment-author


    div.vcard {

      font-weight: 14px;

      cite.fn {
        a.url {}
      } // end cite.fn

      img.avatar {
        border:5px solid #ccc;
        float:right;
        margin:0 0 20px 20px;
      } // end .avatar

      img.avatar-32 {} // end .avatar-32
      img.photo {} // end .photo
      span.says {} // ebd .says

    }  // end .vcard

    div.commentmetadata {} // end .commentmetadata
    div.comment-meta {

      font-size: 11px;

      a {
        color: #ccc;
      } // end a

    } // end div.comment-meta

    p {font-size: 12px;} // end p

    ul {
      font-size: 12px;
      list-style: none;
      margin: 0 0 0 20px;
    } // end ul

    div.reply {

      font-size: 11px;

      a {font-weight: bold;} // end a

    } // end reply

    ul.children {
      list-style:none;
      margin: 12px;
      text-indent:0;

      li {} // end li

      li.alt {}
      li.bypostauthor {}
      li.byuser {}
      li.comment {}
      li.comment-author-admin {}

      li.depth-2 { border-left: 5px solid #ccc; margin:0 0 10px 10px; }
      li.depth-3 { border-left: 5px solid #bbb; margin:0 0 10px 10px; }
      li.depth-4 { border-left: 5px solid #aaa; margin:0 0 10px 10px; }
      li.depth-5 {} // you get the idea

      li.odd {} // end .odd

    }  // end ul.children

  }  // end li.comment

  li.even {background:#fff;}
  li.odd {background:#f6f6f6;}
  li.parent {border-left:5px solid #ddd;}
  li.thread-alt {}
  li.thread-even {}
  li.thread-odd {}

}*/