$maxWidth: 360px;
$minTablet: 167px;

@mixin media($size) {
  @if $size == 'tabletUpwards' {@media screen and ( min-width : $minTablet ) { @content; }}
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 40px;

  .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 4px white solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 200px;
    background: transparent;
    overflow: hidden;

    > img {
      width: 100%;
      height: auto;
      display: block;
    }

    .overlay {
      display: none;
      position: absolute;
      width: 250px;
      bottom: 20px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px;
      box-sizing: border-box;
      color: #DDD;
      text-align: right;
      @include media('tabletUpwards') {
        display: block;
      }
    }

    .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;
      > img {
        display: block;
      }
      .overlay {
        right: auto;
        left: 20px;
        text-align: left;
      }
    }

    .divider {
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: rgba(256, 256, 256, 0.2);
      left: 50%;
      top: 0;
      bottom: 0;
      margin: -3px 0 0 0;
      cursor: ew-resize;
      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: -9px;
        top: 50%;
        margin-top: -10px;
        background-color: white;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
      }
      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        left: -5px;
        top: 50%;
        margin-top: -6px;
        background-color: white;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
      }
      &.draggable{
        &:before {
          width: 30px;
          height: 30px;
          left: -14px;
          margin-top: -15px;
        }
        &:after {
          width: 20px;
          height: 20px;
          left: -9px;
          margin-top: -10px;
          background-color: #555;
        }
      }
    }
  }

  .caption {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-style: italic;
  }
}