.post-wrap {
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 1em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  background: #dc7103;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: none;
  padding: 0 30px;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 16px;
  max-width: 88%;
  margin: 0 auto;
  text-transform: none;
  padding: 5px 15px;
}

figure.post-item {
  min-height: 100%;
}

figure.post-item img {
  opacity: 0.85;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.post-item figcaption {
  background-color: rgba(53, 42, 23, 0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.post-item figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  content: '';
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(108, 100, 139, 0.7) 100%);
  border-radius: 5px;
}

figure.post-item.blog-item figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  content: '';
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(182, 161, 157, 0.7) 100%);
  border-radius: 5px;
}

figure.post-item h2 {
  margin: 16% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.post-item figcaption::before,
figure.post-item p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.post-item:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.post-item:hover figcaption::before,
figure.post-item:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.post-item:hover figcaption {
  background-color: transparent;
}

figure.post-item:hover img {
  opacity: 1;
}
