@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.round-img {
  position: relative;
  display: inline-block;
  margin: 20px;
  max-width: 300px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  margin-bottom: 0;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  @media (max-width: 420px) {
    top: -30px;
    max-width: 250px;
  }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .round-img:before,
  .round-img:after {
    display: none;
  }
}}
.round-img *,
.round-img:before,
.round-img:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.round-img:before,
.round-img:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid white;
  border-color: transparent white;
}

.round-img img {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.round-img figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.round-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.round-img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.round-img:hover figcaption,
.round-img.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.round-img:hover:before,
.round-img.hover:before,
.round-img:hover:after,
.round-img.hover:after {
  border-width: 10px;
}

.round-img:hover:before,
.round-img.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.round-img:hover:after,
.round-img.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
