.scroll-affordance {
  padding-bottom: 30px;
  p {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .arrow {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: white;
    border-width: 0 1px 1px 0;
    margin: 0 auto;
    transform: rotate(45deg);
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-25px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}

.scroll-notify {
  padding-bottom: 30px;
  display: none;
  p {
    font-size: 18px;
    padding-bottom: 10px;
  }
}