$animation-duration: 5s;
$highlight-color: #38b449;

.badge {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: -2em auto -1em;
}

.post-header {
  font-size: 16px;
  background: #22BDA0;
  height: 31em;
  overflow: hidden;
  position: relative;

  &.project-hero {
    background: $page3;
  }

  &.blog-hero {
    background: $page1;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    height: 38.6em;
  }

  @media (max-width: 550px) {
    font-size: 9px;
    height: 42.8em;
  }

  @media (max-width: 420px) {
    font-size: 7px;
    height: 47.4em;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: 0;
    width: 125px;
    z-index: 10;
    font-size: 40px;
    a {
      color: white;
      &:hover {
        text-decoration: none;
        img {
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      &.back {
        img {
          display: list-item;
          margin-top: 15px;
        }
        i {
          font-size: 35px;
          transition: all 0.3s ease;
          &:hover {
            font-size: 38px;
          }
        }
        span {
          display: inline;
          font-size: 20px;
          padding-left: 10px;
          font-family: 'Playfair Display';
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      background: black;
      left: 0;
      top: 0;
      text-align: center;
      padding-bottom: 11px;
      border-bottom: 1px solid white;
      position: fixed;
      br {
        display: none;
      }
      .menu-icon {
        margin: 0 10px;
        display: inline-block !important;
        margin-top: -3px !important;
      }
    }
  }
  .hero-image {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 56.25em;
  }
}

.hero-image-container {
  animation: hero-fade-in 1s 0.5s linear forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 56.25em;
  height: 26em;
  @media (max-width: 768px) {
    margin-top: 71px;
  }
}

@keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}

.window-background {
  animation: background-color $animation-duration cubic-bezier(.81,-0.46,.19,1.33) infinite;
  position: absolute;
  height: 40em;
  width: 30em;
  top: 0;
}

.screen-container {
  animation: move-code $animation-duration infinite ease-out;
  position: absolute;
  width: 12.6em;
  height: 10em;
  bottom: 8.66em;
  background: #fff url(/wp-content/themes/jamesontech/resources/assets/images/code.svg) repeat-y;
  background-size: 100% auto;
  left: 50%;
  transform: translate(-42.4%,15.9%);
}

.notification {
  animation: move-notification $animation-duration infinite cubic-bezier(.81,-0.46,.19,1.33);
  position: absolute;
  bottom: 67%;
  left: 65%;
  width: 4%;
  height: 3%;
  background: #fff url(/wp-content/themes/jamesontech/resources/assets/images/notification.svg);
  background-size: 100%;
}

.moon {
  animation: moon $animation-duration infinite linear;
  position: absolute;
  left: 22%;
  top: 3%;
  background: url(/wp-content/themes/jamesontech/resources/assets/images/moon.svg) no-repeat;
  background-size: 100%;
  height: 25%;
  width: 11%;
  transform-origin: 30% 350%;
}

@keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}

@keyframes move-code {
  0%, 24% {
    background-position: 0 -4.6em;
    animation-timing-function: cubic-bezier(.81,-0.46,.19,1.33);
  }
  34%, 60% {
    background-position: 0 -28%;
  }
  90%, 100% {
    background-position: 0 -191%;
  }
}

@keyframes move-notification {
  0%, 20% {
    transform: translateX(.25em);
    opacity: 0;
  }
  50%, 58% {
    transform: none;
    opacity: 1;
  }
  70%, 100% {
    transform: translateX(-.25em);
    opacity: 0;
  }
}

@keyframes moon {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(.25,0,.41,1);
  }
  100% {
    transform: rotateZ(-360deg);
    animation-timing-function: linear;
  }
}

@media (max-width: 550px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 10px;
  }
}
