::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
html.main, body.home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  color: #fff;
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: hidden;
    position: relative;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    @media (max-width: 768px) {
      transform: translateY(80px);
      -webkit-transform: translateY(80px);
      -moz-transform: translateY(80px);
      -o-transform: translateY(80px);
      &.home {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        overflow: hidden;
      }
    }
  }

  * {
    // font-family: "open sans", "lato", "helvetica", sans-serif;
  }

  .page {
    position: absolute;
  }

  .divider {
    position: relative;
    margin: 25px 0;
    height: 1px;
  }

  .div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, white, transparent);
  }

  .div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: $page2;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white,
    0 0 0 4px white;
  }

  #p1 {
    left: 0;
  }

  #p2, #p3, #p4 {
    left: 200%;
  }

  #p1 {
    background: transparent;
  }

  #p2 {
    background: $page2;
    .div-dot:after {
      background-color: $page2;
      box-shadow: inset 0 0 0 2px white,
      0 0 0 4px $page2;
    }
  }

  #p3 {
    background: $page3;
  }

  #p4 {
    background: $page1;
  }

  #about:target #p2, #projects:target #p3, #blog:target #p4 {
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: 0.4s !important;
    @media (max-width: 768px) {
      transform: translateX(-200%) translateY(80px);
      -webkit-transform: translateX(-200%) translateY(80px);
      -moz-transform: translateX(-200%) translateY(80px);
      -o-transform: translateX(-200%) translateY(80px);
    }
  }

  #about:target #p1, #projects:target #p1, #blog:target #p1 {
    background: black;
  }

  #about:target #p1 .icon, #projects:target #p1 .icon, #blog:target #p1 .icon {
    -webkit-filter: blur(3px);
  }

  .icon {
    color: #fff;
    font-size: 32px;
    display: block;
  }

  ul .icon:hover {
    opacity: 0.5;
  }

  .page .icon .title {
    line-height: 2;
  }

  #about:target ul .icon, #projects:target ul .icon, #blog:target ul .icon {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transition-delay: 0.25s;
  }

  #about:target #dos, #projects:target #tres {
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
  }

  #blog:target {
    #cuatro, #cinco {
      transform: scale(1.2) !important;
      -webkit-transform: scale(1.2) !important;
      -moz-transform: scale(1.2) !important;
      -o-transform: scale(1.2) !important;
    }
  }

  ul {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
    @media (max-width: 768px) {
      bottom: auto;
      height: 60px;
      width: 100%;
    }
  }

  #menu .icon {
    margin: 30px 0;
    transition: all 0.5s ease-out !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    @media (max-width: 768px) {
      margin: 15px 18px;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
  }

  .title, .hint {
    display: block;
  }

  .title {
    font-size: 54px;
  }

  .hint {
    font-size: 13px;
  }

  #p4 .hint {
    display: inherit !important;
  }

  .hint a {
    color: yellow;
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    &:hover {
      color: #fff;
    }
  }

  .line-trough {
    text-decoration: line-through;
  }

  .page {
    .icon {
      position: absolute;
      top: 30px;
      right: 10%;
      left: 0;
      height: 170px;
      margin: auto;
      text-align: center;
      font-size: 80px;
      line-height: 1.3;
      transform: translateX(360%);
      -webkit-transform: translateX(360%);
      -moz-transform: translateX(360%);
      -o-transform: translateX(360%);
      transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      -webkit-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      -moz-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      -o-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      @media (max-width: 768px) {
        transform: translateX(360%) translateY(80px);
        -webkit-transform: translateX(360%) translateY(80px);
        -moz-transform: translateX(360%) translateY(80px);
        -o-transform: translateX(360%) translateY(80px);
        top: -50px;
      }
      &.home {
        top: 70px;
        right: 11%;
      }
    }
    &#p1 .icon {
      height: 220px;
      transform: translateX(6%) !important;
    }
  }

  #about:target .page#p2 .icon, #projects:target .page#p3 .icon, #blog:target .page#p4 .icon {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transition-delay: 1s;
    @media (max-width: 768px) {
      transform: translateX(4.5%) translateY(80px) !important;
      -webkit-transform: translateX(4.5%) translateY(80px) !important;
      -moz-transform: translateX(4.5%) translateY(80px) !important;
      -o-transform: translateX(4.5%) translateY(80px) !important;
      top: -50px;
    }
    @media (max-width: 420px) {
      transform: translateX(5.5%) translateY(80px) !important;
      -webkit-transform: translateX(5.5%) translateY(80px) !important;
      -moz-transform: translateX(5.5%) translateY(80px) !important;
      -o-transform: translateX(5.5%) translateY(80px) !important;
      top: -50px;
    }
  }

  .mouse {
    position: relative;
    width: 22px;
    height: 42px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid white;
    -webkit-animation: intro 1s;
    animation: intro 1s;
  }
  .scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: white;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
  }
  @-webkit-keyframes intro {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes intro {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes finger {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes finger {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

  .page-icon {
    max-width: 80px;
  }
}
