.page-header {
  padding: 30px;
  h1 {
    margin-top: 20px;
  }
  @media (max-width: 580px) {
    .btn-main {
      span {
        margin-bottom: 15px;
      }
    }
  }
}

.pagination-wrap {
  max-width: 1010px;
  margin: 0 auto;
  padding-bottom: 80px;
  a {
    background: $page1;
    padding: 10px;
    margin: 10px;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease;
    &:hover {
      background: white;
      text-decoration: none;
      color: $page1;
      border: 1px solid $page1;
    }
  }
  span.page-numbers.current {
    background: $page2;
    padding: 10px;
    margin: 10px;
    color: white;
    border: 1px solid white;
  }
}