h1 {
  font-family: 'Playfair Display';
  font-size: 54px;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 42px;
  -webkit-font-smoothing: antialiased;
  @media(max-width: 768px) {
    font-size: 38px;
  }
  @media(max-width: 420px) {
    font-size: 32px;
  }
}

h3 {
  font-family: 'Playfair Display';
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-family: 'Playfair Display';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

h5 {
  font-family: 'Alice';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Alice';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}